*{
  background-color: black;
}
#tag {
  color: blue;
  background-color: yellow;
}
#tag:hover {
  color: yellow;
}

h1 {
  color: green;
  display: inline-block;
  width: 150px;
  height: 80px;
}
h1:hover {
  color: yellow;
}

p {
  border: 5px solid blue;
  position: relative;
  left: 50px;
}

